{% extends "base.html" %}
{% block header %}
<title>PictureMap</title>
<link rel="stylesheet" href="/static/css/style_index.css">
{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-7 col-md-pull-1">
			<h1>Bem-vindo ao PictureMap.</h1>
		</div>
		<div class="col-md-7 col-md-pull-1">
			<p>Compartilhe as fotos de monumentos históricos que você visitou e as indique no mapa para todos verem.  </p>
		</div>
		<div class="col-md-7 col-md-push-1">
			<a href="/gallery">Ir para o site</a>
		</div>
	</div>
</div>
{% endblock %}